
Juggler/JugglerShell/obj/Debug/net6.0/

Juggler/JugglerShell/obj/

Juggler/.idea/.idea.Juggler/.idea/

Juggler/JugglerShell/bin/Debug/net6.0/

Juggler/JugglerSimpleExample/bin/Debug/net6.0/

Juggler/JugglerSimpleExample/obj/Debug/net6.0/

Juggler/JugglerSimpleExample/obj/

Juggler/JugglerClient/bin/Debug/net6.0/

Juggler/JugglerClient/obj/Debug/net6.0/

Juggler/JugglerClient/obj/
